.currentBox{
    display:flex;
    flex-direction: column;
    /* flex-wrap:wrap; */
}

.sideImg{
    width:235px;
    height:235px;
    border-radius:2%
/* flex-wrap:wrap; */
    /* object-fit:cover; */
}
.mainImg{
    width:480px;
    height:480px;
    border-radius:2%;
    /* margin-left: 20px; */
    /* object-fit:cover; */
}
.box-smallImg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:3px;
    width:500px;
}
.allimages-box{
    display:flex;
    flex-direction: row;
    gap:5px;
    justify-content: center;


}
.reserve{
    background:red;
    color:white;
    width:fit-content;
    padding:15px 140px;
}
.reserve:hover{
background:rgb(212, 12, 12);
}
.top-row-reserve{
    display:flex;
    /* gap:80px; */
    justify-content: space-between;
    align-items:center;
}
.reserve-box{
    border:2px solid Black;
    width:fit-content;
    /* width:200px;
    height:125px; */
    border-radius: 3%;
    padding:10px;
}

.info-book{
    display:flex;
    justify-content:space-between;
    border-bottom: 2px solid grey;
    padding:20px;

}


.currentBox{
    margin:0px 10px;
}
.create-review-btn{

}



