.modalBackground {
    /* display: none; Hidden by default */
      position: fixed;
      width: 100%;
      height: 100%;
      display:flex;
      align-items:center;
      justify-content: center;
      /* border:2px solid black; */
      left:0;
      right:0;
       top: 0;
      bottom: 0;
      /* overflow: auto;  */
      z-index:999;
      background-color: rgba(0,0,0,0.4);

    }

    .modalCont{
    background-color: white;
    width: 500px;
    height: 500px;
    display:flex;
    flex-direction:column;
      align-items:center;
      justify-content: center;
      border-radius:15%;
    }

    .yes{
      background:red;
      color:white;
      padding:5px;
      border-radius:7%;
      border:none;
      /* padding:2px 15px; */
      font-size:15px;
    }
    .yes :hover{
      background:rgb(50, 3, 3);
    }
.no{
  background:grey;
  color:white;
  padding:5px;
  border-radius:7%;
  border:none;
      /* padding:2px 15px; */
      font-size:15px;
}
