.loginBtn{
    margin:20px;
    padding:0px 30px;
    display:flex;
    flex-direction:column;
    align-items:center;
    /* background:black; */
    /* border:1px solid black; */
    /* cursor:pointer; */
    border-radius:15%;
}
.login-btn{
  cursor:pointer;
  padding:4px 50px;
  background:red;
}
.demo-user{
    background: none;
  border: none;
  padding: 0;

  font-family: arial, sans-serif;

  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin:10px;
  cursor:pointer;
}

#modal-content{
  border-radius:2%;
}

.errors{
  color:red;
}
